[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/openql-org/riscv-isa-sim
	branch = develop-openql
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "QuEST"]
	path = QuEST
	url = https://github.com/openql-org/QuEST
	branch = develop-openql
