[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = ../riscv-isa-sim.git
	branch = niisato-develop
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = ../riscv-opcodes.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "QuEST"]
	path = QuEST
	url = https://github.com/openql-org/QuEST
	branch = develop-openql-wip
